.Dog main {

  height: calc(100vh - 7.5vh - 5vmin);
  padding: 2.5vmin;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;

}

.Dog .DogImage {

  width: 40vmin;
  height: 40vmin;
  object-fit: cover;

  border: 0.75vh solid #ffffff;
  border-radius: 50%;
  box-shadow: 1vh 2vh 4vh #999999;

}

.Dog h1 {

  margin: 0px;
  margin-top: 1vmin;

  font-weight: bold;
  font-size: calc(10px + 4vmin);

}

.Dog .DogInfo {

  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  color: #000000;
  text-transform: capitalize;

}

.Dog .DogInfo .Item {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1vmin 2vmin;
  margin: 2vmin;

  border-radius: 0.5vmin;

}

.Dog .DogInfo .Item .Content {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.Dog .DogInfo .Item .Title {

  margin-bottom: 0.5vmin;

  font-size: calc(10px + 1vmin);
  line-height: calc(10px + 1vmin);
  font-weight: normal;

}

.Dog .DogInfo .Item a {

  color: #000000;
  text-decoration: none;

}

.Dog .DogInfo .Item p {

  margin: 0px;

  font-size: calc(10px + 1.25vmin);
  line-height: calc(10px + 1.25vmin);
  font-weight: bold;

}

.Dog .DogInfo .Item img {

  width: auto;
  height: calc(10px + 1.5vmin);
  margin-left: 0.5vmin;

}

.Dog .OwnerInfo .Content {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  text-align: left;

}

.Dog .OwnerInfo img {

  width: calc(10px + 3vmin);
  height: auto;
  margin-right: 2.5vmin;
  padding: 0.75vmin;

  background: var(--primary-color);
  border-radius: 50%;

}

.Dog .OwnerInfo .Title {

  margin: 0px;
  margin-bottom: 0.75vmin;
  padding: 0px;

  font-size: calc(10px + 1vmin);
  line-height: calc(10px + 1vmin);
  font-weight: 700;

}

.Dog .OwnerInfo .Text {

  margin: 0px;
  padding: 0px;
  padding-right: 12.5vmin;

  font-size: calc(10px + 0.75vmin);
  line-height: calc(10px + 0.75vmin);
  font-weight: 500;

}

.Dog .OwnerInfo .Call {

  width: calc(10px + 2.5vmin);
  height: auto;
  padding: 0.25rem;

  background: #CCD4BF;
  border-radius: 0.5vmin;
  cursor: pointer;

}


.Dog .DogChip {

  margin: 0px;
  font-size: calc(10px + 0.5vmin);
  font-style: italic;

}
