.Home {

  display: flex;
  flex-direction: column;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  height: calc(100vh - 7.5vh);

}

.Home main {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;

}

.Home .Title {

  margin: 0;

  color: #ffffff;
  font-size: calc(10px + 2vmin);
  font-weight: bold;

}

.Home .Text {

  margin: 0;
  margin-bottom: 10vmin;

  color: #ffffff;
  font-size: calc(10px + 1.75vmin);

}

.Home .HomeButtons {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.Home .Button {

  margin: 2vmin;
  padding: 1vmin 2vmin;

  background: var(--primary-color);
  border: 0.25vmin solid var(--primary-color);
  color: #ffffff;
  border-radius: 0.5vmin;
  font-size: calc(10px + 1.25vmin);
  text-decoration: none;
  cursor: pointer;

  -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   transition: all 0.5s ease;

}

.Home .Button:hover {

  background: var(--primarydark-color);
  border: 0.25vmin solid var(--primarydark-color);
  box-shadow: 0.25vh 0.5vh 1vh var(--primarydark-color);

}

.App footer {

  margin-bottom: 0.5vmin;
  margin-left: 0.5vmin;

  color: #ffffff;
  font-size: calc(10px + 0.75vmin);
  text-align: left;

}

.App footer a {

  color: var(--accent-color);
  text-decoration: none;

}
