.Dogs {

  text-align: center;
  padding: 1.5rem 0.75rem;

}

.Loading {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.LoadingLogo {

  height: 25vh;
  margin-top: 5vh;
  pointer-events: none;

}

@media (prefers-reduced-motion: no-preference) {
  .LoadingLogo {
    animation: LoadingLogoSpin infinite 5s linear;

  }

}

@keyframes LoadingLogoSpin {
  from {
    transform: rotate(0deg);

  }

  to {
    transform: rotate(360deg);

  }

}

.Dogs input[type=search] {

  width: 75vw;
  padding: 1.5vh 2.5vh;

  background: var(--background-color);
  border: 0.5vh solid #ffffff;
  border-radius: 0.5vmin;
  color: #00000;
  box-shadow: 1vh 2vh 4vh #999999;

}

.Dogs input[type=search]:focus {

  outline: none;

}

.Dogs input[type="search"]::-webkit-search-cancel-button {

  filter: grayscale(100%) contrast(200%);

}

.Dogs .Sort {

  display: flex;
  flex-direction: column wrap;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 2vmin;

}

.Dogs .Sort p {

  margin-right: 2.5vmin;

  color: #000000;
  font-size: calc(10px + 1vmin);
  font-weight: bold;

}

.Dogs .Sort .SortAscending {

  margin-right: 2.5vmin;

  background: transparent;
  border: 0vmin solid transparent;
  color: #000000;
  font-size: calc(10px + 1vmin);
  text-decoration: none;
  cursor: pointer;

}

.Dogs .Sort .SortButton {

  background: transparent;
  border: 0vmin solid transparent;
  color: #000000;
  font-size: calc(10px + 1vmin);
  text-decoration: none;
  cursor: pointer;

}

.Dogs .Sort .SortButtonCurrent {

  background: transparent;
  border: 0vmin solid transparent;
  color: #000000;
  font-weight: bold;
  font-size: calc(10px + 1vmin);
  text-decoration: none;
  cursor: pointer;

}

.Dogs .Sort button:focus {

  outline: none;

}

.Dogs hr {

  width: 85vw;
  margin-bottom: 2vmin;

}

.Dogs main {

  display: flex;
  flex-direction: column wrap;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  margin: 0px;

}

.DogItem {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 22.5vmin;
  margin: 1vmin 2.5vmin;

  cursor: pointer;
  color: #000000;
  text-decoration: none;

}

.DogItem .title {

  margin: 0px;
  margin-top: 1vh;

  font-weight: bold;
  font-size: calc(10px + 1.2vmin);

}

.DogItem p {

  margin: 0px;
  margin-top: 0.2vh;

  font-size: calc(10px + 0.5vmin);

}

.DogItem img {

  width: 20vmin;
  height: 20vmin;
  object-fit: cover;

  border: 0.75vh solid #ffffff;
  border-radius: 50%;
  box-shadow: 0.25vh 0.5vh 1vh #aaaaaa;

  -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   transition: all 0.5s ease;

}

.DogItem img:hover  {

  box-shadow: 0.5vh 1vh 2vh #aaaaaa;

}
