.App {

  text-align: left;

}

.App header {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;

  background: var(--primary-color);
  color: #ffffff;
  font-size: calc(10px + 1vmin);

}

.App header h2 {

  margin: auto auto auto 0;

}

.App header button {

  display: inline-block;
  height: 100%;
  margin-left: 1rem;

  background: transparent;
  border: none;
  color: #ffffff;
  font-size: calc(10px + 1vmin);
  cursor: pointer;

}

.App header button:focus {

  outline: none;

}

.App main {

  padding: 1rem;

}
