.App {

  text-align: left;
  height: 100%;

}

.App header {

  height: 7.5vh;
  box-shadow: 0.2vh 0.4vh 0.8vh #999999;

}

.App header .Logo {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 7.5vh;

  background: var(--primarydark-color);
  color: #ffffff;
  font-size: calc(10px + 1vmin);
  text-decoration: none;

}

.App header img {

  width: 2.5rem;
  height: auto;
  margin-right: 0.5rem;

}
